In [15]:
import pandas as pd
import numpy as np

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
df = pd.read_csv('../../EDA/Multivariate_analysis/train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [18]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [19]:
df.dropna(inplace=True)

In [20]:
x = df.iloc[: , 0:4]
y = df.iloc[: , -1]

In [21]:
x.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0