In [63]:
import pandas as pd
import numpy as np

In [64]:
from sklearn.linear_model import LogisticRegression

In [65]:
df = pd.read_csv('../../EDA/Multivariate_analysis/train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [66]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [67]:
df.dropna(inplace=True)

In [68]:
x = df.iloc[: , 0:4]
y = df.iloc[: , -1]

In [69]:
x.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [70]:
from sklearn.model_selection import cross_val_score

In [71]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

np.float64(0.6933333333333332)

## 
Applying Feature Construction

In [72]:
x['family_size'] = x['SibSp'] + x['Parch'] + 1
x.head()

    Age  Pclass  SibSp  Parch  family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [73]:
def feature_construction(x):
    if x == 1 :
        return 0
    elif x>1 and x<=4:
        return 1
    else:
        return 2

In [74]:
feature_construction(2)

1

In [75]:
x['family_type'] = x['family_size'].apply(feature_construction)

In [76]:
x.head()

    Age  Pclass  SibSp  Parch  family_size  family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [78]:
x.drop(columns=['SibSp','Parch','family_size'],inplace=True)

In [79]:
x.head()

    Age  Pclass  family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [81]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

np.float64(0.7003174603174602)