In [2]:
%pip install bs4

Requirement already satisfied: bs4 in c:\users\mohot\appdata\local\programs\python\python312\lib\site-packages (0.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\mohot\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\mohot\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\mohot\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (4.12.2)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup

In [4]:
headers = {
    'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36'
}

In [15]:
url = 'https://internshala.com/jobs/page-2/'

In [16]:

webpage=requests.get(url,headers=headers).text

In [17]:
soup = BeautifulSoup(webpage, 'html.parser')

In [27]:
soup.find_all('h3')[0].text

'\nManagement Trainee\n'

In [28]:
for i in soup.find_all('h3'):
    print(i.text.strip())

Management Trainee
Young Leader (Management Trainee)
Omni Sport Advisor
Inside Sales Associate
Omni Sport Advisor
Field Sales Executive
Business Development Executive
Customer Service Associate
Program Manager
Executive - Relationship Manager
Customer Service Executive
Marketing Operations Executive
Junior Social Media Marketing Executive
Customer Service Executive
UK Recruitment Consultant
Customer Support Associate
Evaluation Engineer
Business Development Associate
Business Development Executive
Telecaller
Field Sales Trainee
Field Sales Trainee
Sales Manager
Junior Field Sales Trainee
Strategic Partnership Executive
Executive Assistant To Director
Pre-Sales (US)
Junior Architect
Customer Service Associate
Business Development Manager
Business Development Associate (Ops)
Business Development Associate
Graduate Trainee
Business Development Executive
Business Development Associate
Graduate Trainee - Sales
Field Sales Executive
Customer Acquisition Associate
Business Development Executive
Junior Talent Acquisition Executive

In [34]:
len(soup.find_all('p', class_='row-1-item'))

40

In [31]:
for i in soup.find_all('p', class_='row-1-item'):
    tagA = i.find('a')
    if tagA and not tagA.get('class'):
        print(tagA.text.strip())

Work from home
Mumbai
Gurgaon
Gurgaon
Pune
Jalandhar
Pune
Delhi
Bangalore
Ahmedabad
Gurgaon
Work from home
Noida
Bangalore
Ahmedabad
Bangalore
Delhi
Hyderabad
Ahmedabad
Delhi
Ahmedabad
Ahmedabad
Hyderabad
Chennai
Bangalore
Jaipur
Bangalore
Work from home
Bangalore
Thane
Bangalore
Chennai
Delhi
Navi Mumbai
Bangalore
Jaipur
Vijayawada
Wakad
Gurgaon
Navi Mumbai

In [33]:
len(soup.find_all('span', class_= 'desktop'))

40

In [32]:
for i in soup.find_all('span', class_= 'desktop'):
    print(i.text.strip())

₹ 3,45,000 - 3,60,000
₹ 3,40,000 - 3,50,000
₹ 3,36,000 - 3,84,000
₹ 3,36,000 - 3,60,000
₹ 3,30,000 - 5,00,000
₹ 3,10,000 - 4,50,000
₹ 3,02,000 - 6,06,000
₹ 3,02,000 - 4,10,000
₹ 3,00,000 - 6,00,000
₹ 3,00,000 - 5,50,000
₹ 3,00,000 - 5,30,000
₹ 3,00,000 - 5,00,000
₹ 3,00,000 - 5,00,000
₹ 3,00,000 - 4,50,000
₹ 3,00,000 - 4,50,000
₹ 3,00,000 - 4,50,000
₹ 3,00,000 - 4,20,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 4,00,000
₹ 3,00,000 - 3,75,000
₹ 3,00,000 - 3,60,000
₹ 3,00,000 - 3,60,000
₹ 3,00,000 - 3,50,000
₹ 3,00,000 - 3,50,000
₹ 3,00,000 - 3,36,000
₹ 3,00,000 - 3,36,000
₹ 3,00,000 - 3,24,000
₹ 3,00,000 - 3,20,000
₹ 3,00,000
₹ 2,90,000 - 8,00,000
₹ 2,90,000 - 3,50,000
₹ 2,90,000 - 3,00,000
₹ 2,88,000 - 5,00,000
₹ 2,88,000 - 3,00,000
₹ 2,84,000 - 5,16,000
₹ 2,80,000 - 4,20,000

In [39]:
for i in soup.find_all('div', class_='row-1-item'):
    span = i.find('span')
    if span and not span.get('class'):
        print(span.text.strip())

0 year(s)
0 year(s)
0 year(s)
1 year(s)
1 year(s)
1 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
1 year(s)
1 year(s)
1 year(s)
1 year(s)
1 year(s)
1 year(s)
1 year(s)
0 year(s)
0 year(s)
0 year(s)
1 year(s)
0 year(s)
0 year(s)
1 year(s)
1 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)
0 year(s)

In [ ]:

job_titles = []
locations = []
experiences = []
salaryranqes = []
for i in soup.find_all('div', class_='internship_meta'):
    # Extracting job title, location, experience, and salary range  
    job_title = i.find('h3')
    if job_title:
        job_titles.append(job_title.text.strip())
    else:
        job_titles.append(np.nan)
    #location
    loc_p = i.find('p', class_='locations')
    loc_a = loc_p.find('a') if loc_p else None
    if loc_a:
        locations.append(loc_a.text.strip())
    else:
        locations.append(np.nan)
    #experience
    exp_div = i.find_all('div', class_='row-1-item')
    exp_span = exp_div[1].find('span') if exp_div else None
    if exp_span and not exp_span.get('class'):
        experience = exp_span.text.strip()
        experiences.append(experience)
    else:
        experiences.append(np.nan)
    
    salary = i.find('span', class_='desktop')
    if salary:
        salaryranqes.append(salary.text.strip())
    else:
        salaryranqes.append(np.nan)
    
jobs_df = pd.DataFrame({
    'Job Title': job_titles,
    'Location': locations,
    'Experience': experiences,
    'Salary Range': salaryranqes
})
jobs_df.head(10)

,Job Title,Location,Experience,Salary Range
0,Management Trainee,Work from home,0 year(s),"₹ 3,45,000 - 3,60,000"
1,Young Leader (Management Trainee),Mumbai,0 year(s),"₹ 3,40,000 - 3,50,000"
2,Omni Sport Advisor,Gurgaon,0 year(s),"₹ 3,36,000 - 3,84,000"
3,Inside Sales Associate,Gurgaon,1 year(s),"₹ 3,36,000 - 3,60,000"
4,Omni Sport Advisor,Pune,1 year(s),"₹ 3,30,000 - 5,00,000"
5,Field Sales Executive,Jalandhar,1 year(s),"₹ 3,10,000 - 4,50,000"
6,Business Development Executive,Pune,0 year(s),"₹ 3,02,000 - 6,06,000"
7,Customer Service Associate,Delhi,0 year(s),"₹ 3,02,000 - 4,10,000"
8,Program Manager,Bangalore,0 year(s),"₹ 3,00,000 - 6,00,000"
9,Executive - Relationship Manager,Ahmedabad,0 year(s),"₹ 3,00,000 - 5,50,000"

In [55]:
jobs_df.shape

(40, 4)

In [67]:
total_data = pd.DataFrame()
for j in range(0,227):
    job_titles = []
    locations = []
    experiences = []
    salaryranqes = []
    for i in soup.find_all('div', class_='internship_meta'):
        # Extracting job title, location, experience, and salary range  
        job_title = i.find('h3')
        if job_title:
            job_titles.append(job_title.text.strip())
        else:
            job_titles.append(np.nan)
        #location
        loc_p = i.find('p', class_='locations')
        loc_a = loc_p.find('a') if loc_p else None
        if loc_a:
            locations.append(loc_a.text.strip())
        else:
            locations.append(np.nan)
        #experience
        exp_div = i.find_all('div', class_='row-1-item')
        exp_span = exp_div[1].find('span') if exp_div else None
        if exp_span and not exp_span.get('class'):
            experience = exp_span.text.strip()
            experiences.append(experience)
        else:
            experiences.append(np.nan)
        
        salary = i.find('span', class_='desktop')
        if salary:
            salaryranqes.append(salary.text.strip())
        else:
            salaryranqes.append(np.nan)
        
    jobs_df = pd.DataFrame({
        'Job Title': job_titles,
        'Location': locations,
        'Experience': experiences,
        'Salary Range': salaryranqes
    })
    total_data = pd.concat([total_data, jobs_df], ignore_index=True)

In [68]:
total_data.shape

(9080, 4)