EDA is the process of analyzing and summarizing datasets using statistics and visualizations to better understand the data before building machine learning models.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('../../work_withP_API/top_rated_movies.csv')

In [15]:
df.head()

,Unnamed: 0,id,title,overview,vote_average,release_date,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.712,1994-09-23,28487
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.687,1972-03-14,21577
2,2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",8.599,2025-06-20,334
3,3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.571,1974-12-20,13032
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.564,1993-12-15,16512

In [17]:
df = df.drop(columns=['Unnamed: 0'])

In [18]:
df.head()

,id,title,overview,vote_average,release_date,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.712,1994-09-23,28487
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.687,1972-03-14,21577
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",8.599,2025-06-20,334
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.571,1974-12-20,13032
4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.564,1993-12-15,16512