In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
res = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [6]:
temp_df = pd.DataFrame(res.json()['results'])[['id', 'title','overview','vote_average', 'release_date','vote_count']]

In [ ]:
temp_df.head()

,id,title,overview,vote_average,release_date,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.712,1994-09-23,28487
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.687,1972-03-14,21577
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",8.599,2025-06-20,334
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.571,1974-12-20,13032
4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.564,1993-12-15,16512
5,389,12 Angry Men,The defense and the prosecution have rested an...,8.549,1957-04-10,9220
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",8.536,2001-07-20,17242
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,8.521,2008-07-16,34007
8,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",8.518,1995-10-20,4493
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,8.505,1999-12-10,18177
10,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",8.499,2019-05-30,19188
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",8.488,1994-09-10,28805
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,8.487,2003-12-17,25200
13,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,8.483,2016-08-26,11829
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,8.468,1994-06-23,28338
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,8.463,1966-12-22,9054
16,157336,Interstellar,The adventures of a group of explorers who mak...,8.456,2014-11-05,37350
17,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",8.455,1990-09-12,13455
18,346,Seven Samurai,A samurai answers a village's request for prot...,8.455,1954-04-26,3921

In [10]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [13]:
for i in range(1,429):
    res = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}')
    temp_df = pd.DataFrame(res.json()['results'])[['id', 'title','overview','vote_average', 'release_date','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

In [14]:
df

,id,title,overview,vote_average,release_date,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,8.712,1994-09-23,28487
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.687,1972-03-14,21577
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",8.599,2025-06-20,334
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.571,1974-12-20,13032
4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.564,1993-12-15,16512
...,...,...,...,...,...,...
8555,184125,Assault on Wall Street,Jim is an average New Yorker living a peaceful...,5.882,2013-06-30,476
8556,54540,Beverly Hills Chihuahua 2,Puppy mayhem turns the lives of newlywed Chihu...,5.900,2011-02-01,400
8557,27414,"Silent Night, Deadly Night","Billy Chapman, who was traumatized by his pare...",5.900,1984-11-09,385
8558,780154,All My Friends Are Dead,A group of friends at a New Year’s Eve party g...,5.900,2020-12-28,356
8559,650783,The Comeback Trail,Two movie producers who owe money to the mob s...,5.881,2020-11-12,333

In [15]:
df.describe()

                 id  vote_average    vote_count
count  8.560000e+03   8560.000000   8560.000000
mean   2.127449e+05      6.862167   2189.199533
std    2.843482e+05      0.585897   3423.688767
min    2.000000e+00      5.881000    300.000000
25%    1.002775e+04      6.396750    484.000000
50%    3.707500e+04      6.807000    912.000000
75%    3.937378e+05      7.292000   2220.250000
max    1.426776e+06      8.712000  37613.000000

In [16]:
df.shape

(8560, 6)

In [17]:
df.to_csv('top_rated_movies.csv')